# Import

In [2]:
import numpy as np
import pandas as pd
import sklearn

In [52]:
lowC = pd.read_csv("/notebooks/MLProject/data/Clean/ShareElectricityLowCarbon.csv", sep=";")
totEmissions = pd.read_csv("/notebooks/MLProject/data/Clean/totEmissions.csv", sep=";")
#accessElec = pd.read_csv("/notebooks/MLProject/data/Clean/AccessElectricity.csv")

lowC.at[0,"Year"] = 2000
lowC.at[1,"1990"] = 0
lowC.head(5)

,Entity,Code,Year,1990,1991,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.923090,84.090910,80.180176,86.206900,87.288140,87.603294,85.826775,82.905980,83.177570,85.000000
1,Angola,AGO,2000.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,71.971060,62.023216,59.347553,56.832970,56.713207,58.863857,72.003746,77.162895,71.558440,72.935500
2,Albania,ALB,1990.0,86.363640,92.14660,95.00000,93.76771,95.68528,93.95973,95.659440,...,98.554214,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
3,United Arab Emirates,ARE,1990.0,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000,...,0.032182,0.020030,0.077362,0.282924,0.258851,0.262618,0.592698,1.031814,2.930968,5.578823
4,Argentina,ARG,1990.0,49.264286,44.11212,47.01023,51.09896,54.28159,50.15494,43.238823,...,31.217922,28.619164,30.806438,30.066004,29.472387,27.814380,28.267298,29.673082,31.991589,33.967842